[Desktop Entry]
Version=1.0
Name=Alma 
Comment=Alma P2P Cryptocurrency
Comment[fr]=Alma, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Alma, eşten eşe kriptografik sanal para birimi
Exec=alma-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/alma;
Categories=Office;Finance;
StartupWMClass=alma-qt
